<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    {% load static %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    
        {% include 'components/navbar.html' %}
        
    <section class="service" id="service">
        <div class="center">
            <h2>These are the services that we offer</h2>
        </div>

        <div class="service-content">
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Learner Driver</h3>
                <p>
                    This is an education course to educate 
                    candidates on Road rules, signs and driver 
                    responsibilities to prepare learner 
                    drivers for the Learners Licence(LL) test
                    <br>
                    There is a training facility to
                     practice K53 manoeuvres
                </p>

            </div>
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Driving Lessons</h3>
                <p>
                    WE offer driving lessons for the 
                    following codes:
                    <br>
                    - Code B - Light Motor Vehicle
                    <br>
                    - Code EB
                    <br>
                    - Light motor vehicle towing a trailer exceeding 750Kg 
                </p>

            </div>
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Refresher driver training </h3>
                <p>
                    The Refresher driver training course is for:
                    <br> 
                    - Candidates who have not driven for a while due to whatever reasons
                    
                     and need to get back behind the wheel
                     <br>
                    - Assists in reminding them about the K53 manoeuvres
                     
                    
                    
                </p>

            </div>
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Simulator Training</h3>
                <p>
                    Simulator training :
                    <br>
                    - for absolute beginners
                    to learn the K53 procedures
                </p>

            </div>
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Upgrading of licence codes </h3>
                <p>
                    - We offer upgrading of licence codes
                    <br> 
                    - eg. from light motor vehicle to heavy motor vehicle
                     
                     
                    
                    
                </p>

            </div>
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Instructor Training Courses</h3> </h3>
                <p>
                    - The Instructor Training Courses is for:
                    <br> 
                    - candidates who want to become a light motor vehicle driving instructor
                    
                     
                    
                    
                </p>

            </div>

        </div>

    </section>
    {% include 'components/footer.html' %}
</body>
</html>